<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default col-4">
        <div class="panel-heading">
            <h3 class="panel-title">Internet Usage</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr><th colspan="4">Filter : <input type="search"></th></tr>
                    <tr>
                        <th>Rank</th><th>Country</th><th>Amount</th><th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>Iceland</td><td>953.61</td><td>2013</td></tr>
                    <tr><td>2</td><td>Norway</td><td>946.9</td><td>2013</td></tr>
                    <tr><td>3</td><td>Sweden</td><td>938.39</td><td>2013</td></tr>
                    <tr><td>4</td><td>Denmark</td><td>927.82</td><td>2013</td></tr>
                    <tr><td>5</td><td>Netherlands</td><td>925.88</td><td>2013</td></tr>
                    <tr><td>6</td><td>Luxembourg</td><td>909.66</td><td>2013</td></tr>
                    <tr><td>7</td><td>Finland</td><td>909.45</td><td>2013</td></tr>
                    <tr><td>8</td><td>Bermuda</td><td>907.91</td><td>2013</td></tr>
                    <tr><td>9</td><td>New Zealand</td><td>887.49</td><td>2013</td></tr>
                    <tr><td>10</td><td>Liechtenstein</td><td>886.92</td><td>2013</td></tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">Tabular data presented in html table with client side filtering option</div>
    </div>
</div>