<div class="col-md-6 col-md-offset-3 ">
    <ol class="breadcrumb">
        <li class="active">{{continent}}</li>
        <li class="active">{{country}}</li>
        <li class="active">{{city}}</li>
    </ol>
    <h1 class="city">{{city}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae egestas purus. Pellentesque eleifend sagittis urna, eget lacinia orci semper sed. Donec quam odio, interdum sed rhoncus eget, hendrerit nec mauris. Curabitur interdum elementum erat, ac molestie risus elementum vel. Vestibulum gravida elit a nulla porta, non maximus magna pulvinar. Maecenas pretium, leo nec sollicitudin pharetra, sapien arcu vulputate dolor, vel semper tortor dui vel ipsum. Aliquam sit amet molestie elit. Cras dignissim ligula quis laoreet semper.</p>
    <a href="/cities" class="btn btn-primary">Go Back</a>
</div>