<button id="btn">Run</button>
<div class="test-windows">
    <div id="tests" class="col-md-6">
        <p>test</p>
    </div>
    <div id="app" class="col-md-6">
        <iframe src="http://localhost:3000" id="scaled-frame"></iframe>
    </div>
</div>
<script src="/js/testrunner.js"></script>
<style type="text/css">
.container {
    overflow: hidden;
    width: 100%;
}
.test-windows, .test-windows > div{
    height: 100%;
}
#scaled-frame {
    zoom: 0.71;
    -moz-transform: scale(0.71);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.71);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.71);
    -webkit-transform-origin: 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame  { zoom: 1;  }
}
</style>
