<!DOCTYPE html>
<html>
    <head>
        <title>A Typical Web App - {{title}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/default.css">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.mockjax.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/global.js"></script>
    </head>
    <body>
        {{> nav }}
        <div class="container page-body">
            {{> (lookup . 'partial') }}
        </div>
        <div class="wait"></div>
    </body>
</html>